@model IEnumerable<DatabaseRemoto.Models.league>

@{
    ViewBag.Title = "Index";
}

<h2>Leghe Italiane</h2>

<table class="table">
    <tr>
        <th>
            Nome Campionato
        </th>
        <th>
            Nazione
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nation.name)
            </td>
            <td>
                @Html.ActionLink("Dettagli", "Index", "competitions", new { id = item.id }, null)
            </td>
        </tr>
    }

</table>
